In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import matplotlib.mlab as mlab

from scipy.stats import norm
import tabulate as tabulate

import yfinance as yf

In [57]:
#find daily returns
tickers = ['AAPL', 'IBM', 'GOOGL', 'BP', 'XOM', 'COST', 'GS']
pct = [0.15, 0.2, 0.2, 0.15, 0.10, 0.15, 0.05]
initial_investment = 1000000

df = yf.download(tickers, '2016-01-01', '2016-12-31')['Close']
percentage = df.pct_change()
df.dropna()
value_ptf = percentage * initial_investment * pct;
value_ptf['Value of portfolio'] = value_ptf.sum(axis=1)
ptf_percentage = value_ptf['Value of portfolio'] 
ptf_percentage = ptf_percentage.sort_values(axis=0, ascending=True)

Var95 = np.percentile(ptf_percentage, 5)
print ("95% Actual loss won't exceed: " + str(round(Var95, 2))) 
print ("Losses expected to exceed " + "{0:.2f}".format(Var95) + " " + str(.05*len(ptf_percentage)) + " out of " + str(len(ptf_percentage)) + " days")
percentage[1:]

[*********************100%***********************]  7 of 7 completed
95% Actual loss won't exceed: -14710.13
Losses expected to exceed -14710.13 12.65 out of 253 days

,AAPL,BP,COST,GOOGL,GS,IBM,XOM
Date,,,,,,,
2016-01-04,0.000855,-0.006398,-0.012136,-0.023869,-0.017145,-0.012135,-0.006286
2016-01-05,-0.025059,-0.004185,0.002445,0.002752,-0.017218,-0.000736,0.008521
2016-01-06,-0.019570,-0.020369,-0.009254,-0.002889,-0.024413,-0.005006,-0.008321
2016-01-07,-0.042205,-0.028713,-0.022909,-0.024140,-0.030735,-0.017090,-0.016006
2016-01-08,0.005288,-0.017669,-0.017504,-0.013617,-0.004131,-0.009258,-0.020202
...,...,...,...,...,...,...,...
2016-12-23,0.001978,0.002980,0.000062,-0.002322,0.003540,-0.002095,-0.001761
2016-12-27,0.006351,0.002431,-0.000185,0.002637,0.002448,0.002579,0.000441
2016-12-28,-0.004264,0.003773,-0.006418,-0.006618,-0.003767,-0.005684,-0.004959
2016-12-29,-0.000257,0.004027,0.000745,-0.002101,-0.010264,0.002467,0.000554
2016-12-30,-0.007796,-0.000535,-0.006330,-0.012991,0.005332,-0.003661,-0.000996